@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");

body{
    background-color: #e9ecef !important;
}

.nav-link {
    display: flex;
    flex: 1;
}

.nav_links{
    list-style: none;
    display: flex;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: black;
}

.nav_links li a:hover{
    color: #005f77;
    font-weight: bold;
}

a button {
    padding: 2px 14px;
    width: 120px;
    background: linear-gradient(135deg, #1e30f3, #e21e80);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
  }

a button:hover {
    background: rgba(204, 9, 9, 0.705);
    transition: all 0.3s ease 0s;
    font-weight: bold;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #080808;
    text-decoration: none;
}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}


.main-component {
    margin: 2vh 3vw;
    display: flex;
    height: 100vh;
}

.side-content{
    flex: 1;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}


.profile-header {
    background-color: #ffffff;
    padding: 10px;
    justify-content: center;
    display: flex;

}

.profile-header .profile-picture {
    position: relative;
    z-index: 2;
    margin-top: 10px;
    background-color: #dadada;
    border-color: #080808;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.divider {
    border: 0;
    border-top: 1px solid #060606;
    margin: 0;
    width: 100%;
  }

.profile-info {
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 5px 0 19px;
    width: 100%;
}