@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css");



.top-bar {
    font-family: Arial, sans-serif;
    position: relative;
    width: auto;
    height: 6vh;
    top: 0%;
    left: 0%;
    background-color: #24252A;
    padding: 1.5vh 90px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.side-bar {
    font-family: Arial, sans-serif;
    position: relative;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
  }

.nav-link {
    display: flex;
    flex: 1;
}

.nav_links{
    list-style: none;
    display: flex;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

a button {
    padding: 9px 25px;
    width: 150px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
  }

a button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

button{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
}

.searchBar {
    width: 300px;
    /* padding: 9px 25px; */
    height: 30px;
}
