.app {
    background: #8ac6d8;
    border: 0px;

}

.sidebar {
    background: transparent;
    /* height: 100vh;
    overflow: hidden; */
}

.menuElement {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #165a72;
}

/* h1 {
    margin: 50px auto;
    font-size: 40px;
} */

h2 {
    color: #165a72;
}