.app {
    background: #8ac6d8;
    border: 0px;
    border-top-right-radius: 30px;
}

.sidebar {
    background: transparent;
    /* height: 100vh;
    overflow: hidden; */
}

.menuElement {
    margin-bottom: 25px;
    margin-top: 25px;
    color: #165a72;
}

/* h1 {
    margin: 50px auto;
    font-size: 40px;
} */

h2 {
    color: #165a72;
}